.footer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 700px; /* tillräcklig höjd för att visa resten av bilden */
  background-image: url('./public/footer.svg');
  background-size: cover;
  text-align: center;
  }

  .text-container{
	margin-top: 20em;
  }

  .text-container a {
	font-size: large;
	font-weight: 700;
	color: var(--text-color);
  }

  .github-logo, .linkedin-logo, .instagram-logo, .facebook-logo{
	width: 50px;
	height: 50px;
	margin: 8px;
  }

  .github-logo:hover, .linkedin-logo:hover, .instagram-logo:hover, .facebook-logo:hover{
	cursor: pointer;
  }

  @media (max-width: 414px) {
	.text-container {
	  margin-top: 10em;
	  font-size: small;
  }

  .footer-container {
	height: 400px;
  }

  .github-logo, .linkedin-logo, .instagram-logo, .facebook-logo{
	width: 40px;
	height: 40px;
	margin: 8px;
  }
}